@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Pretendard-Regular', sans-serif;
}

.join-page {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
}

.join-container {
  text-align: center;
  max-width: 320px;
  width: 100%;
}

.join-container svg {
  width: 120px;
  margin-bottom: 20px;
}

.login-link {
  font-size: 14px;
  color: #5c5c5c;
  margin-bottom: 40px;
}

.login-link a {
  color: #91bbff;
  font-weight: bold;
  text-decoration: none;
}

.join-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.join-form input {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.gender-buttons {
  display: flex;
  gap: 2%;
}

.gender-button {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  color: #858486;
  font-weight: 500;
  padding: 16px;
  width: 49%;
  cursor: pointer;
  transition: all 0.3s;
}

.gender-button:hover {
  border-color: #91bbff;
  color: #91bbff;
}

.gender-button.male,
.gender-button.female {
  background-color: #ffffff;
}

.major-select {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  color: #858486;
  font-weight: 500;
  padding: 16px;
  width: 100%;
  cursor: pointer;
}

.submit-button {
  padding: 14px;
  background-color: #cebeff;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
  font-weight: 600;
}

.submit-button:hover {
  background-color: #bbaaf5;
}
