@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Pretendard-Regular', sans-serif;
}

.signup-page {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
}

.signup-container {
  text-align: center;
  max-width: 320px;
  width: 100%;
}

.signup-container svg {
  width: 120px;
  margin-bottom: 20px;
}

.login-link {
  font-size: 14px;
  color: #5c5c5c;
  margin-bottom: 40px;
}

.login-link a {
  color: #91bbff;
  font-weight: bold;
  text-decoration: none;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.signup-form input[type='password'] {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 7px;
  font-size: 14px;
}

.signup-form button[type='submit'] {
  padding: 14px;
  background-color: #cebeff;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
  font-weight: 600;
}

.signup-form button[type='submit']:hover {
  background-color: #bbaaf5;
}

.terms-box {
  background-color: #f6f6f8;
  padding: 16px;
  border-radius: 7px;
  font-size: 14px;
  text-align: left;
  color: #858486;
}

.terms-box label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.required-term {
  text-align: left;
  font-size: 14px;
  color: #858486;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.required-term input[type='checkbox'],
.terms-box input[type='checkbox'] {
  cursor: pointer;
}
