@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Pretendard-Regular', sans-serif;
}

.email-page {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
}

.email-container {
  text-align: center;
  max-width: 320px;
  width: 100%;
}

.email-container svg {
  width: 120px;
  margin-bottom: 20px;
}

.login-link {
  font-size: 14px;
  color: #5c5c5c;
  margin-bottom: 40px;
}

.login-link a {
  color: #91bbff;
  font-weight: bold;
  text-decoration: none;
}

.email-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-input-group,
.auth-check-group {
  display: flex;
  gap: 10px;
  align-items: stretch;
}

.auth-input-group input,
.auth-check-group input {
  flex: 1;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.auth-button,
.check-button {
  padding: 16px;
  background-color: #91bbff;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 600;
  white-space: nowrap;
  min-width: 90px;
}

.auth-button:hover,
.check-button:hover {
  background-color: #7a9fe6;
}

.submit-button {
  padding: 14px;
  background-color: #cebeff;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
  font-weight: 600;
}

.submit-button:hover {
  background-color: #bbaaf5;
}
